<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <div>
        <a href="/restaurant/create">Add a New Restaurant</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="container" style="display: flex;">
        <div class="container">
            <h1>Hello {{session['first_name']}}, and Welcome to a Hassle Free Dining Experience.</h1>
            <h3>Restaurants Visited</h3>
            <table class="table table-dark">
                <tr>
                    <th>Restaurant Name</th>
                    <th>Cuisine Type</th>
                    <th>Rating</th>
                    <th>View Restaurant</th>
                </tr>
                {% for rows in all_restaurants %}
                <tr>
                    <td>{{rows.name}}</td>
                    <td>{{rows.cuisine}}</td>
                    <td>{{rows.rating}} / 10</td>
                    <td>
                        <a href="/restaurants/view/{{rows.id}}">Details</a>
                        {% if rows.user_id == session['user_id'] %}
                        <a href="/restaurants/update/{{rows.id}}">Edit</a>
                        <a href="/restaurants/delete/{{rows.id}}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</body>
</html>